---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import ProjectPageCard from "@/components/ProjectPageCard.astro";

export async function getStaticPaths() {
  const wdilwms = await getCollection("wdilwms");

  return wdilwms.map((wdilwm) => ({
    params: { slug: wdilwm.slug },
    props: { wdilwm },
  }));
}

type Props = {
  wdilwm: CollectionEntry<"wdilwms">;
};

const { wdilwm } = Astro.props;
const { Content } = await wdilwm.render();
---

<Layout title={wdilwm.data.title}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <h1 class="text-2xl text-neutral-100">
        What did I learn while making -
      </h1>
      <h1 class="text-4xl text-neutral-100">
        {wdilwm.data.title}
      </h1>
      <br />
      <p class="text-neutral-300">
        {formatDate(wdilwm.data.publishedAt)}
      </p>
      <p class="italic">{wdilwm.data.description}</p>
    </header>
    <ProjectPageCard project={wdilwm.data.project} />

    <Content />
  </main>
</Layout>
