---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { dateRange } from "@lib/utils";
import { EXPERIENCES } from "@consts";

const collection = (await getCollection("experiences"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf());

const experiences = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<Layout title={EXPERIENCES.TITLE} description={EXPERIENCES.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div>
        <div class="animate font-semibold text-black dark:text-white text-2xl">
          Experiences
        </div>
        <p class="animate text-neutral-300">
          {EXPERIENCES.DESCRIPTION}
        </p>
      </div>
      <ul class="flex flex-col space-y-4">
        { 
          experiences.map(experience => (
            <li class="animate">
              <div class="flex w-full flex-col justify-between gap-2 md:flex-row md:items-center">
                  <div class="font-semibold text-black dark:text-white">
                    {experience.data.company}
                  </div>
                <div>
                  <div class="text-sm opacity-75">
                    {dateRange(experience.data.dateStart, experience.data.dateEnd)}
                  </div>
                </div>
              </div>
              <div class="text-sm opacity-75">
                    {experience.data.role}
                  </div>
              <article>
                <experience.Content />
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</Layout>
