---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import GithubCard from "@/components/GithubCard.astro";
import DemoCard from "@/components/DemoCard.astro";
import formatDate from "@/utils/formatDate";
import WdilwmPageCard from "@/components/WdilwmPageCard.astro";
import PaperCard from "@/components/PaperCard.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <h1 class="text-2xl text-neutral-100">
        {project.data.title}
      </h1>
      <p class="text-neutral-300">
        {formatDate(project.data.publishedAt)}
      </p>
      <p class="italic">{project.data.description}</p>
    </header>

    <GithubCard link={project.data.github}/>
    {project.data.demo && <DemoCard link={project.data.demo}/>}
    {project.data.paper && <PaperCard link={project.data.paper}/>}
    {project.data.wdilwm && <WdilwmPageCard name={project.data.title} wdilwm={project.data.wdilwm}/>}
    <Content />
  </main>
</Layout>
