---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import Link from "@/components/shared/Link.astro";
import ProjectCard from "@/components/ProjectCard.astro";

const projects = await getCollection("projects");
projects.sort((a, b) => Date.parse(b.data.publishedAt) - Date.parse(a.data.publishedAt));
---

<Layout title="Projects">
  <main class="flex flex-col gap-20">
    <header>
      <h1 class="text-2xl text-neutral-100">Projects</h1>
      <p class="text-neutral-300">
        <span class="font-bold">{projects.length}</span> projects published since <span class="font-bold">{formatDate(projects[projects.length - 1].data.publishedAt)}</span>
      </p>
    </header>

    <article class="flex flex-col gap-8">
      {projects.length === 0 && <p>Soon, stay connected 👀...</p>}
      <section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
        {
          projects.length !== 0 &&
            projects
              .map((project) => (
                <ProjectCard
                  publishedAt={project.data.publishedAt}
                  title={project.data.title}
                  description={project.data.description}
                  slug={project.slug}
                />
              ))
        }
      </section>
    </article>
  </main>
</Layout>
